<p class="pad-neg-5">Newsie is a native Nextcloud News reader application for Ubuntu Touch. Offline reading is supported once you sync with your Nextcloud server. Bugs, feature requests, and other issues can be reported on the <a href="https://gitlab.com/ferrettim/newsie">Newsie Gitlab page</a>.</p>
<br />
<h2 class="pad-neg-35">Release Notes</h2>
  <ul>
    <li class="pad-5 notes">1.6.6 (2019-11-16) - Added option to add password protected feeds. Implemented new podcast player with styling support. General UI improvements and bug fixes (see CHANGELOG for details).</li>
    <li class="pad-5 notes">1.6.5 (2019-11-11) - Implemented dark mode. Users can also choose to automatically switch between normal and dark mode based on time of day. Also added a night light option to make it a little easier to read at night. UI improvements to the Settings page, including the ability to check if your Nextcloud server is online from within Settings. Improvements in font rendering and readability.</li>
    <li class="pad-5 notes">1.6.1 (2019-11-08) - Added data saver mode which prevents loading of images, iframes, favicons, and other external content. Added playback speed support for podcast episodes, and additional podcast support. When choosing previous/next articles, the page now automatically scrolls back to the top. Added scroll to top button to toolbars. Refactored settings page code. Fixed issue with blurry icons. Minor bugfixes and speed improvements. Updates to offline caching.</li>
    <li class="pad-5 notes">1.5.5 (2019-11-05) - Settings are now updated automatically instead of after resynchronizing with the server. Improvements to offline caching. Added favicon in article view. Begin work to fix issue with blurry menu and toolbar icons. Tons of minor UI tweaks, and some code cleanup.</li>
    <li class="pad-5 notes">1.5.1 (2019-11-03) - Users can now change application settings to sort by unread items or by feed name, as well as having the ability to display all or only unread feed items, as well as all or only unread feeds in the menu listing. Implemented favicon support in feed view. Added new Explore tab (suggestions welcome). Minor UI tweaks.</li>
  </ul>
  <p class="pad-neg-10">To see changes for earlier versions of this application, please visit the <a href="https://gitlab.com/ferrettim/newsie/blob/master/CHANGELOG.md" target="_blank">Newsie CHANGELOG</a> page on Gitlab.</p>
