<p>Enter a valid RSS feed to add it to your collection. The feed will be added to the Nextcloud server you specified in <a href="#settings">Settings</a>.</p>
	<select id="addfeed-api" style="display: none;">
		<% _.each(apis, function(api, id) { %>
			<option value="<%= id %>"><%= api.name %> (<%= api.url %>)</option>
		<% }); %>
	</select>
<form>
	<p class="pad-neg-10">
		<strong>RSS URL:</strong>
		<input type="text" id="addfeed-url" class="bump-left-25" value="" placeholder="https://"/>
	</p>
	<p class="pad-neg-10">
		<span onclick="showCredentials()"><strong>Credentials (Optional)</strong></span>
		<span id="feed-credentials" class="bump-left-25">
			<br />
			<input type="text" id="addfeed-username" value="" placeholder="Username"/>
			<input type="password" id="addfeed-password" value="" placeholder="Password"/>
		</span>
	</p>

	<p class="pad-neg-10"><button id="addfeed-submit">Add Feed</button></p>
</form>

<script>
	function showCredentials() {
	  var x = document.getElementById("feed-credentials");
	  if (x.style.display === "none") {
	    x.style.display = "block";
	  } else {
	    x.style.display = "none";
	  }
	}
</script>
