<% if(api.authentication != "none") { %>
	<% if(!api.loggedIn) { %>
		<p class="pad-5 top-5">Use the form below to sign into your server. You will be signed into <%= api.url %>.</p>
		<form>
			<p>
				<input type="text" id="api-username" value="" placeholder="Username"/>
				<input type="password" id="api-password" value="" placeholder="Password"/>
			</p>
			<p><button id="api-login" class="recommend">Login</button></p>
			<p><button id="api-delete" class="api-delete danger">Remove</button></p>
		</form>
	<% } else { %>
		<h3 class="pad-5 top-5">Nextcloud server details:</h3>
		<h4 class="pad-5">
			Address: <%= api.url %><br />
			Username:
			<% if(api.loggedIn) { %>
				<%= api.loggedIn %>
			<% } else { %>
				Your are not logged in.
			<% } %>
			<br />
			<br />
			<a onclick="pingserver()">Check server status</a><span id="online-status"></span>
		</h4>
		<p><button id="api-logout">Logout</button><button id="api-delete" class="danger">Remove</button></p>
	<% } %>
<% } %>

<script>
	function pingserver(){
       $.ajax({
          url: '<%= api.url %>',
          success: function(result){
            $("#online-status").html("Online");
          },
          error: function(result){
            $("#online-status").html("Offline");
          }
       });
    }
</script>
