<div id="top"></div>
<% if(url) { %>
	<a href="<%= url %>" target="_blank"><h2 class="article"><%= title %></h2></a>
<% } else { %>
	<h2 class="article"><%= title %></h2>
<% } %>
<p class="detail-wrapper">
	<% if($.localStorage("lowdata")) { %>
		<img class="favicon2" src="css/images/icons/web.png" alt=""/>
	<% } else { %>
		<img class="favicon2" src="https://www.google.com/s2/favicons?domain=<%= url %>" alt=""/>
	<% } %>
	Posted <%= timeAgo(date*1000) %>
	<% if (!enclosureLink) { %>
		<% if (author) { %>
	  	 by <%= author %>
		<% } %>
	<% } %>
</p>

<% if(description) { %>
	<p id="article-body" class="pad-neg-25">
		<%= description %>
	</p>
<% } %>

<% if(enclosureLink) { %>
	<br />
	<div id="audio-player">
		<ul>
			<audio id="audio" src="<%= enclosureLink %>" type="<%= enclosureMime %>"></audio>
			<li>
				<button id="audio-play"><span class="fa fa-play"></span></button>
				<button id="audio-pause"><span class="fa fa-pause"></span></button>
			</li>
			<li id="audio-progress-bar" class="bump-left-15">
				<button id="audio-currenttime" class="audio-time">00:00:00</button>
				<progress id="audio-progress" class="bump-left-15 bump-right-15" value="0"></progress>
				<button id="audio-duration" class="audio-time">00:00:00</button>
			</li>
			<li class="bump-left-25">
				<button id="audio-speed">1x</button>
			</li>
			<li class="bump-left-25">
				<button id="audio-get">
					<a href="<%= enclosureLink %>" title="Download Audio" rel="external" type="<%= enclosureMime %>" download>
						<span class="fa fa-download"></span>
					</a>
				</button>
			</li>
		</ul>
	</div>
<% } %>

<br />
<div id="shareModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
		<p>&nbsp;<br /></p>
		<ul class="social-list">
			<li>
				<a href="https://twitter.com/intent/tweet?url=<%= url %>&amp;text=<%= title %>" title="<%= title %>">
					<img src="css/images/icons/social/twitter.png" alt="Twitter" />
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" title="<%= title %>">
					<img src="css/images/icons/social/facebook.png" alt="Facebook" />
				</a>
			</li>
			<li>
				<a href="https://www.reddit.com/submit?url=<%= url %>&amp;title=<%= title %>" title="<%= title %>">
					<img src="css/images/icons/social/reddit.png" alt="Reddit" />
				</a>
			</li>
			<li>&nbsp;</li>
			<div class="clear"></div>
		</ul>
  </div>
</div>

<script>
	(function(){
		var pcastPlayers = document.querySelectorAll('#audio-player');
		for(i=0;i<pcastPlayers.length;i++) {
	    var player = pcastPlayers[i];
			var audio = document.getElementById("audio");
			var play = player.querySelector('#audio-play');
			var pause = player.querySelector('#audio-pause');
			var speeds = [ 1.0, 1.1, 1.2, 1.3, 1.4, 1.5 ]
			var speed = player.querySelector('#audio-speed');
    	var currentTime = player.querySelector('#audio-currenttime');
			var progress = player.querySelector('#audio-progress');
    	var duration = player.querySelector('#audio-duration');
			var currentSpeedIdx = 0;

			pause.style.display = 'none';

			var toHHMMSS = function ( totalsecs ) {
        var sec_num = parseInt(totalsecs, 10); // don't forget the second param
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours; }
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}

        var time = hours+':'+minutes+':'+seconds;
        return time;
    	}

			audio.addEventListener('loadedmetadata', function(){
	      progress.setAttribute('max', Math.floor(audio.duration));
	      duration.textContent  = toHHMMSS(audio.duration);
	    });

	    audio.addEventListener('timeupdate', function(){
	      progress.setAttribute('value', audio.currentTime);
	      currentTime.textContent  = toHHMMSS(audio.currentTime);
	    });

	    play.addEventListener('click', function(){
	      this.style.display = 'none';
	      pause.style.display = 'inline-block';
	      pause.focus();
	      audio.play();
	    }, false);

	    pause.addEventListener('click', function(){
	      this.style.display = 'none';
	      play.style.display = 'inline-block';
	      play.focus();
	      audio.pause();
	    }, false);

	    progress.addEventListener('click', function(e){
	      audio.currentTime = Math.floor(audio.duration) * (e.offsetX / e.target.offsetWidth);
	    }, false);

			speed.addEventListener('click', function(){
		  	currentSpeedIdx = currentSpeedIdx + 1.0 < speeds.length ? currentSpeedIdx + 1 : 0;
		    audio.playbackRate = speeds[currentSpeedIdx];
		    this.textContent  = speeds[currentSpeedIdx] + 'x';
		    return true;
		  }, false);
		}
	})(this);


	function previewUrl(url,target){
		if($.localStorage("linknewwindow")) {
      window.open('<%= url %>', '_blank');
		} else {
			clearTimeout(window.ht);
			window.ht = setTimeout(function(){
					var div = document.getElementById(target);
					div.innerHTML = '<iframe style="width:100%; height: 100vh;" frameborder="0" src="<%= url %>" />';
			},20);
		}
  }

	// Get the modal
	var modal = document.getElementById("shareModal");
	// Get the button that opens the modal
	var btn = document.getElementById("button-share");
	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	// When the user clicks the button, open the modal
	btn.onclick = function() {
	  modal.style.display = "block";
	}
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
	    modal.style.display = "none";
	  }
	}

</script>
