<div id="feedtop"></div>
<ul class="list2">
	<% _.each(articles, function(article) { %>
		<% if($.localStorage("showstarred")) { %>
			<li>
		<% } else { %>
			<li data-state="<%= article.status %>">
		<% } %>
			<a href="#feed/<%= article.api %>/<%= feed %>/<%= article.id %>">
				<em class="aside">
					<% if($.localStorage("lowdata")) { %>
						<% if($.localStorage("showstarred")) { %>
							<img class="favicon" src="css/images/icons/web.png" alt=""/>
						<% } else { %>
							<% if (article.status == "new") { %>
								<img class="favicon" src="css/images/icons/web.png" alt=""/>
							<% } else { %>
								<img class="favicon-old" src="css/images/icons/web.png" alt=""/>
							<% } %>
						<% } %><
					<% } else { %>
						<% if($.localStorage("showstarred")) { %>
							<img class="favicon" src="https://www.google.com/s2/favicons?domain=<%= article.url %>" alt=""/>
						<% } else { %>
							<% if (article.status == "new") { %>
								<img class="favicon" src="https://www.google.com/s2/favicons?domain=<%= article.url %>" alt=""/>
							<% } else { %>
								<img class="favicon-old" src="https://www.google.com/s2/favicons?domain=<%= article.url %>" alt=""/>
							<% } %>
						<% } %>
					<% } %>
				</em>
				<dl>
					<dt><%= article.title %></dt>
					<dd>
						<span class="time">
							Posted <%= timeAgo(article.date*1000) %>
							<% if (!article.enclosureLink) { %>
								<% if (article.author) { %>
							  	 by <%= article.author %>
								<% } %>
							<% } %>
						</span>

					</dd>
				</dl>
			</a>
		</li>
	<% }); %>
</ul>
<br />
