<% if(typeof(api) != "undefined") { %>
	<small>
		<ul id="listings" class="list">
			<% if(!api.loggedIn) { %>
				<li data-state="tagged" data-tag="C"><a href="#" style="pointer-events: none;">Not logged in</a></li>
			<% } else if(!success) { %>
				<li data-state="tagged" data-tag="C"><a href="#" style="pointer-events: none;">An error occured</a></li>
			<% } else if(!feeds.length) { %>
				<li><a href="#" style="pointer-events: none;">No feeds available.</a></li>
			<% } else { %>
				<% _.each(feeds, function(feed) { %>
					<% if(feed.error > 0) { %>
						<li data-state="tagged" data-tag="C">
					<% } else if(feed.unread > 0) { %>
						<li data-state="new">
					<% } else { %>
						<% if($.localStorage("onlyunreadfeeds")) { %>
							<li style="display:none;">
						<% } else { %>
							<li>
						<% } %>
					<% } %>
						<a href="#feed/<%= api_id %>/<%= feed.id %>" style="font-size: 1rem !important;">
							<span id="feed-<%= api_id %>-<%= feed.id %>">
								<img class="favicon3" src="css/images/icons/web.png" alt=""/><span style="padding-left: 15px;"><%= feed.title %></span>
						  </span>
							<span class="indicator align-right"><%= feed.unread %></span>
						</a>
					</li>
				<% }); %>
			<% } %>
		</ul>
	</small>
<% } %>
