<% if(apis.length) { %>
	<br/>
	<image src="css/images/icons/nextcloud.png" alt="Nextcloud" class="align-left nextcloud" />
	<h3 class="pad-5">
		You are connected to:<br />
		<% _.each(apis, function(api, id) { %>
			<a id="server" class="" href="#api/<%= id %>">
			 <small><%= api.url %> <img class="edit-server" src="css/images/icons/edit.png" /></small>
			</a>
		<% }); %>
	</h3>
<% } %>

<br />
<% if(!apis.length) { %>
	<h3 class="pad-5">Add a new Nextcloud server:</h3>
	<form>
			<select id="addapi-api" style="display: none;">
				<option>---</option>
				<option value="nextcloud" selected="selected">Nextcloud API</option>
			</select>
		<p id="addapi-url">
			<input type="text" value="" placeholder="https://"/>
		</p>
		<p><button id="addapi-submit" class="pad-neg-25">Add Nextcloud Server</button>
	</form>
<% } %>

	<h3 class="pad-5">Tweaks:</h3>
		<ul class="list">
			<li class="align-left pad-10 top-5">Auto-refresh the list of articles
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-autorefresh"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Sort feeds by number of unread articles
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-byunread"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Show only unread feeds
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-onlyunreadfeeds"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Show only unread articles (Sync required)
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-onlyunread"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Open article links in a new window
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-linknewwindow"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Enable Dark Mode
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-darkmode"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Automatically Switch To Dark Mode At Night
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-autodark"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Enable Night Light (7PM-6AM)
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-nightlight"/>
						<span></span>
					</label>
				</span>
			</li>
			<li class="align-left pad-10 top-5">Enable Data Saver Mode (No images)
				<span class="align-right check-fix">
					<label>
						<input type="checkbox" id="check-lowdata"/>
						<span></span>
					</label>
				</span>
			</li>
		</ul>
