<p class="pad-neg-5">Need to add a couple of feeds to your rotation? Check out some great ones below. Feel free to <a href="https://twitter.com/geekvine" target="_blank">contact me</a> if you have some recommendations you'd like to see added here.</p>
	<select id="addfeed-api" style="display: none;">
		<% _.each(apis, function(api, id) { %>
			<option value="<%= id %>"><%= api.name %> (<%= api.url %>)</option>
		<% }); %>
	</select>
<div class="pad-neg-25">
  <ul class="card" style="list-style: none; display: inline;">
    <form>
      <li>
       <div class="container">
         <h2 class="pad-neg-35">
           <img class="favicon" src="https://www.google.com/s2/favicons?domain=https://ubports.com" />
           <strong>UBports Blog</strong>
         </h2>
         <input type="hidden" id="addfeed-url1" value="https://ubports.com/blog/ubports-blog-1/feed" />
         <p><button class="addfeed-submit" id="addfeed-submit1">Subscribe</button></p>
       </div>
      </li>
      <li>
       <div class="container">
         <h2 class="pad-neg-35">
           <img class="favicon" src="https://www.google.com/s2/favicons?domain=https://nextcloud.com" />
           <strong>Nextcloud News</strong>
         </h2>
         <input type="hidden" id="addfeed-url2" value="https://nextcloud.com/blogfeed" />
         <p><button class="addfeed-submit" id="addfeed-submit2">Subscribe</button></p>
       </div>
      </li>
      <li>
       <div class="container">
         <h2 class="pad-neg-35">
           <img class="favicon" src="https://www.google.com/s2/favicons?domain=https://www.phoronix.com" />
           <strong>Phoronix</strong>
         </h2>
         <input type="hidden" id="addfeed-url3" value="https://www.phoronix.com/rss.php" />
         <p><button class="addfeed-submit" id="addfeed-submit3">Subscribe</button></p>
       </div>
      </li>
      <li>
       <div class="container">
         <h2 class="pad-neg-35">
           <img class="favicon" src="https://www.google.com/s2/favicons?domain=https://destinationlinux.org" />
           <strong>Destination Linux Podcast (MP3)</strong>
         </h2>
         <input type="hidden" id="addfeed-url4" value="https://destinationlinux.org/feed/mp3/" />
         <p><button class="addfeed-submit" id="addfeed-submit4">Subscribe</button></p>
       </div>
      </li>
      <li>
       <div class="container">
         <h2 class="pad-neg-35">
           <img class="favicon" src="https://www.google.com/s2/favicons?domain=https://distrowatch.com" />
           <strong>Distrowatch</strong>
         </h2>
         <input type="hidden" id="addfeed-url5" value="https://distrowatch.com/news/dw.xml" />
         <p><button class="addfeed-submit" id="addfeed-submit5">Subscribe</button></p>
       </div>
      </li>
    </form>
  </ul>
</div>
