/* ----------------------------------
 * Buttons
 * ---------------------------------- */

button::-moz-focus-inner {
  border: none;
  outline: none;
}

button,
a[role="button"] {
  width: 100%;
  height: 3.8rem;
  margin: 0 0 1rem;
  padding: 0 1.5rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  display: inline-block;
  vertical-align: middle;
  color: #000;
  text-align: center;
  text-decoration: none;
  outline: none;
}

/* Press (default & recommend) */
button:active,
a[role="button"]:active,
button.recommend:active,
a.recommend[role="button"]:active  {
  border-color: #1e3799;
  background: #1e3799;
  color: #fff;
}

/* Recommend */
button.recommend,
a[role="button"].recommend {
  background-color: #2980b9;
  border-color: #1e3799;
  color: #fff !important;
}

/* Danger */
button.danger,
a.danger[role="button"] {
  background-color: #d63031;
  color: #fff;
  text-shadow: -0.1rem -0.1rem 0 #e74c3c;
  border: none;
}

/* Danger Press */
button.danger:active,
a[role="button"].danger:active {
  background-color: #d63031;
}

/* Disabled (default & recommend) */
button[disabled],
a[role="button"][aria-disabled="true"],
button[disabled].recommend,
a[role="button"][aria-disabled="true"].recommend {
  background-color: transparent;
  border-color: #bdc3c7;
  color: #bdc3c7;
  pointer-events: none;
}

/* Danger disabled */
button[disabled].danger,
a[role="button"][aria-disabled="true"].danger {
  background-color: #ff7675;
  color: #fff;
  text-shadow: none;
  pointer-events: none;
}
