/* ----------------------------------
* DRAWERS
* ---------------------------------- */

body[role="application"] > nav {
  position: absolute;
  background-color: #2d3436;
  top: 0;
  left: 0;
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  font-family: "Lato-Light";
}

/* Header in drawer */
body[role="application"] > nav > header {
  position: relative;
  z-index: 10;
  height: 5rem;
  color: #fff;
  background-color: #2d3436;
}

body[role="application"] > nav > header:after {
  content: "";
  height: 0.3rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #2d3436;
  background-size: auto 100%;
}

body[role="application"] > nav > header h1 {
  font: 2.2rem/4.8rem "Lato-Light";
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0 0 0 3rem;
  height: 100%
}

body[role="application"] > nav > header h1 em {
  font: bold 1.5rem/1em "Lato-Light";
}

/* Generic set of actions in toolbar */
body[role="application"] > nav > header menu[type="toolbar"] {
  height: 100%; float: right;
}

body[role="application"] > nav > header menu[type="toolbar"] a,
body[role="application"] > nav > header menu[type="toolbar"] button {
  height: 4.9rem;
  line-height: 4.9rem;
  float: left;
  background: none;
  padding: 0 1.75rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  min-width: 5rem;
  text-align: center;
}

body[role="application"] > nav > header menu[type="toolbar"] a:last-child,
body[role="application"] > nav > header menu[type="toolbar"] button:last-child {
  background-color: #2d3436;
}

body[role="application"] > nav > header menu[type="toolbar"] {
  padding: 0;
  margin: 0;
}

body[role="application"] > nav > header a,
body[role="application"] > nav > header button {
  border: none;
  background: none;
  padding: 0;
  overflow: hidden;
  font: 600 1.4rem/1.1em "Lato-Light";
  color: #fff;
}

body[role="application"] > nav > header a:first-letter,
body[role="application"] > nav > header button:first-letter {
  text-transform: uppercase;
}

/* Icon definitions */
body[role="application"] > nav > header .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 4.9rem;
}

body[role="application"] > nav > header .icon.icon-add {
  background-image: url(../images/icons/add.png);
  width: 32px;
	height: 32px;
  margin-top: 5px;
}

body[role="application"] > nav > header .icon.icon-close {
  background-image: url(../images/icons/close.png);
  width: 32px;
	height: 32px;
  margin-top: 10px;
}

body[role="application"] > nav > header .icon.icon-menu {
  background-image: url(../images/icons/menu.png);
  width: 32px;
	height: 32px;
  margin-top: 6px;
}

body[role="application"] > nav > header .icon.icon-settings {
  background-image: url(../images/icons/settings.png);
  width: 32px;
	height: 32px;
  margin-top: 10px;
}

body[role="application"] > nav:after {
  content: '';
  width: 1rem;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2d3436;
}

body[role="application"] > nav > .inner {
  overflow-y: auto;
}

body[role="application"] > nav .inner h2 {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 3.3rem;
  text-indent: 3rem;
  color: #fff;
  background-color: #2d3436;
  border-bottom: 0.1rem solid #596068;
  margin: 0;
  padding-right: 0.8rem;
}

body[role="application"] > nav [role="toolbar"] {
  position: fixed;
  bottom: 0 !important;
}

::-webkit-scrollbar {
    display: none !important;
}

body[role="application"] > nav [role="toolbar"] .icon.icon-add {
  background-image: url(../images/icons/add.png);
  width: 32px;
	height: 32px;
  margin-top: 10px;
}

body[role="application"] > nav .inner ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

body[role="application"] > nav .inner  ul > li {
  color: #fff;
  list-style: none;
  transition: background 0.2s ease;
}

body[role="application"] > nav .inner ul > li:active {
  background: #00ABCC;
}

body[role="application"] > nav .inner ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  line-height: 4.35rem;
  border-bottom: 0.1rem solid #596068;
  text-indent: 3rem;
  padding-right: 0.8rem;
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Section */
body[role="application"] > section[role="region"] {
  transition: all 0.25s ease;
  position: relative;
  left: 0;
  z-index: 100;
  padding-left: 0;
}

body[role="application"] section[role="region"][data-state="drawer"] > header {
  transition: all 0.25s linear;
  margin-left: 0;
  position: static;
}
