/* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */

body[role="application"] section[role="region"] > header > button,
body[role="application"] section[role="region"] > header > a {
  width: 6rem;
}

body[role="application"] section[role="region"] > header > a .icon.icon-menu,
body[role="application"] section[role="region"] > header > button .icon.icon-menu {
  background-position: center center;
}

body[role="application"] section[role="region"] > header > button .icon:after,
body[role="application"] section[role="region"] > header > a .icon:after {
  width: 4rem;
}

body[role="application"] section[role="region"] > header > button,
body[role="application"] section[role="region"] > header > a {
  background-position: 4rem center;
}

body[role="application"] section[role="region"] > header h1 {
  margin-left: 5rem;
}

section[role="region"] > header:first-child {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 5rem;
  color: #fff;
  background-color: #2d3436;
  background-size: auto 100%;
  border: none;
}

section[role="region"] > header:first-child:after {
  content: "";
  display: block;
  height: 0.3rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #2d3436;
  background-size: auto 100%;
}

section[role="region"] > header:first-child h1 {
  font: 2.2rem/4.8rem "Lato-Light";
  text-align: left;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0 0 0 3rem;
  height: 100%
}

section[role="region"] > header:first-child h1 em {
  font: bold 1.5rem/1em "Lato-Light";
}

section[role="region"] > header:first-child form {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 1rem 1rem 0 0.5rem ;
  margin-left: 2.5rem;
}

section[role="region"] > header:first-child input[type=text] {
  width: 100%;
  height: 3rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  padding: 0 0.8rem;
  border: solid 0.1rem #3498db;
  border-top-color: #3498db;
  border-radius: 0.3rem;
  background: #fff;
  font: 1.35rem/3em "Lato-Light";
  box-shadow: none;
}

section[role="region"] > header:first-child form button[type="reset"] {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 1rem;
  bottom: 0;
  width: 3rem;
  height: auto;
  margin: 0;
  display: none;
  border: none;
  background: url(../images/icons/clear.png) no-repeat center center;
}

section[role="region"] > header:first-child input[type=text]:valid + button[type="reset"] {
  display: block;
}

/* Generic set of actions in toolbar */
section[role="region"] > header:first-child menu[type="toolbar"] {
  height: 100%;
  float: right;
}

section[role="region"] > header:first-child menu[type="toolbar"] a,
section[role="region"] > header:first-child menu[type="toolbar"] button {
  height: 5rem;
  min-width: 5rem;
  width: auto;
  margin-bottom: 0;
  border-radius: 0;
  line-height: 5rem;
  float: left;
  background: none;
  padding: 0 1.75rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  text-align: center;
  text-shadow: none;
  position: relative;
  z-index: 5;
}

section[role="region"] > header:first-child menu[type="toolbar"] a:last-child,
section[role="region"] > header:first-child menu[type="toolbar"] button:last-child {
  margin-left: -0.2rem;
  z-index: 1;
}

section[role="region"] > header:first-child menu[type="toolbar"] {
  padding: 0;
  margin: 0;
}

section[role="region"] > header:first-child a,
section[role="region"] > header:first-child button {
  border: none;
  background: none;
  padding: 0;
  overflow: hidden;
  font: 600 1.4rem/1.1em "Lato-Light";
  color: #fff;
  border-radius: 0;
}


/* Pressed state */
section[role="region"] > header:first-child a::-moz-focus-inner,
section[role="region"] > header:first-child button::-moz-focus-inner,
section[role="region"] > header:first-child a:active,
section[role="region"] > header:first-child button:active,
section[role="region"] > header:first-child a:focus,
section[role="region"] > header:first-child button:focus {
  outline: none !important;
  border: none !important;
}

section[role="region"] > header:first-child a:not([aria-disabled="true"]):active .icon:after,
section[role="region"] > header:first-child button:not(:disabled):active .icon:after,
section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):active,
section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):active  {
  background: #008aaa !important;
  transition: background 0.2s ease;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.2) !important;
}

/* Disabled state */
section[role="region"] > header:first-child menu[type="toolbar"] a[aria-disabled="true"],
section[role="region"] > header:first-child menu[type="toolbar"] button[disabled]  {
  opacity: 0.5;
}

section[role="region"] > header:first-child a:first-letter,
section[role="region"] > header:first-child button:first-letter {
  text-transform: uppercase;
}

/* Icon definitions */
section[role="region"] > header:first-child .icon {
  display: inline-block;
  vertical-align: top;
  float: none;
  width: 3rem;
  height: 3rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center;
  font-size: 0;
  overflow: hidden;
  position: relative;
  height: 4.9rem;
}

section[role="region"] > header:first-child .icon.icon-add {
  background-image: url(../images/icons/add.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

section[role="region"] > header:first-child .icon.icon-close {
  background-image: url(../images/icons/close.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 10px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

section[role="region"] > header:first-child .icon.icon-back {
  background-image: url(../images/icons/back.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

section[role="region"] > header:first-child .icon.icon-web {
  background-image: url(../images/icons/web.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 10px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

section[role="region"] > header:first-child .icon.icon-star {
  background-image: url(../images/icons/fav-star.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 10px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

section[role="region"] > header:first-child .icon.icon-star-off {
  background-image: url(../images/icons/fav-star-off.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 10px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

section[role="region"] > header:first-child .icon.icon-share {
  background-image: url(../images/icons/share.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 10px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

section[role="region"] > header:first-child .icon.icon-menu {
  background-image: url(../images/icons/menu.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

/* Navigation links (back, cancel, etc) */
section[role="region"] > header:first-child > button,
section[role="region"] > header:first-child > a {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 5rem;
  overflow: hidden;
  text-align: center;
}

section[role="region"] > header:first-child > button .icon,
section[role="region"] > header:first-child > a .icon {
  overflow: visible;
  font-size: 0;
  position: static;
  margin-left: -3rem;
  height: 4.9rem;
}

section[role="region"] > header:first-child > button .icon:after,
section[role="region"] > header:first-child > a .icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 2rem;
  height: 4.9rem;
}

section[role="region"] > header > a .icon.icon-menu,
section[role="region"] > header > button .icon.icon-menu {
  background-position: -1rem center;
}

/* ----------------------------------
 * HEADERS: subheader
 * ---------------------------------- */

section[role="region"] > header {
  background-color: #2d3436;
  border-bottom: solid 0.1rem #e6e6e6;
  z-index: 0;
  padding: 0.4rem 0;
  height: auto;
  color: #34495e;
}

section[role="region"] > header:after {
  display: none;
}

section[role="region"] > header h2 {
  font-family: "Lato-Light";
  font-weight: 600;
  margin: 0 3rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.clear {
  clear: both;
  margin-bottom: 50px;
}
/* The Modal (background) */
.modal {
  list-style: none;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  margin: auto;
  width: 70%;
  padding-right: 10%;
}


.modal-content ul {
  list-style-type: none !important;
  list-style: none !important;
  margin: 0 auto;
}

.modal-content li {
  margin: 0 auto;
  padding-bottom: 10px;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
