/* ----------------------------------
* Input areas
* ---------------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  display: block;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  resize: none;
  font: 1.5rem/3rem "Lato-Light";
  padding-left: 27px;
  border: none;
  box-shadow: none;
  background: none;
  color: #fff;
  font-weight: bold;
}
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  display: block;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0 0.8rem;
  font: 1.8rem/4rem "Lato-Light";
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-shadow: none; /* override the box-shadow from the system (performance issue) */
  background-color: #fff;
}

textarea {
  height: 10rem;
  max-height: 10rem;
  line-height: 2rem;
  margin: 0;
}

/* fix for required inputs with wrong or empty value e.g. [type=email] */
input:invalid,
textarea:invalid {
  border: 0.1rem solid #820000;
  color: #b90000;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #858585;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #858585;
  opacity: 1;
}

form p {
  position: relative;
  margin: 0;
}

form p + p {
  margin-top: 1rem;
}

form p input + button[type="reset"],
form p textarea + button[type="reset"] {
  position: absolute;
  top: 50%;
  right: 0;
  width: 3.5rem;
  height: 4rem;
  margin: -2rem 0 0;
  padding: 0;
  border: none;
  font-size: 0;
  background: url(../images/icons/clear.png) no-repeat 50% 50%;
}

/* To avoid colission with BB butons */
li input + button[type="reset"]:after,
li textarea + button[type="reset"]:after {
  background: none;
}

form p input + button[type="reset"],
form p textarea + button[type="reset"] {
  top: 0;
  margin: 0;
}

textarea {
  padding: 0.8rem;
}

form p input:focus {
  padding-right: 3.5rem;
}

form p textarea:focus {
  padding-right: 3rem;
}

/* Fieldset */
fieldset {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0,0,0,.2);
  font: 1.8rem/1em "Lato-Light";
  background-color: #2d3436;
}

fieldset  + fieldset {
  margin-top: 1.5rem;
}

fieldset legend {
  box-sizing: border-box;
  -moz-box-sizing: border-box;	/* Firefox */

  position: absolute;
  width: 9.5rem;
  height: 100%;
  padding: 0 0.5rem 0 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  line-height: 4rem;
  text-transform: uppercase;
}

fieldset legend.action {
  background: url(../images/icons/arrow.png) no-repeat 100% 100%;
}

fieldset legend:active {
  background-color: #fff;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,.3);
}

fieldset section input[type="text"],
fieldset section input[type="password"],
fieldset section input[type="email"],
fieldset section input[type="tel"],
fieldset section input[type="number"],
fieldset section textarea {
  height: 4rem;
  border: none;
  border-radius: 0;
  background: none;
}

fieldset section {
  display: block;
  border-left: 0.1rem solid #ddd;
  border-radius: 0 0.3rem 0.3rem 0;
  overflow: hidden;
  margin-left: 9.5rem;
}

fieldset section p {
  margin: 0;
  border-bottom: 0.1rem solid #ddd;
}

fieldset section p:last-child {
  border-bottom: none;
}

form p button[type="reset"]:focus,
form p button[type="reset"]::-moz-focus-inner {
  border: none;
  outline: none;
}

/******************************************************************************
 * Right-to-Left layout
 */

html[dir="rtl"] form p input:valid,
html[dir="rtl"] form p input:valid:focus {
  padding: 0 0.8rem 0 3.5rem;
}

html[dir="rtl"] form p textarea:valid,
html[dir="rtl"] form p textarea:valid:focus {
  padding: 0.8rem 0.8rem 0.8rem 3.5rem;
}

html[dir="rtl"] form p input + button[type="reset"],
html[dir="rtl"] form p textarea + button[type="reset"] {
  right: auto;
  left: 0;
}

html[dir="rtl"] fieldset legend.action:after {
  margin: 0 0.5rem 0 0;
}

html[dir="rtl"] fieldset legend {
  padding: 0 1.5rem 0 0.5rem;
}
