/*
  WVGA => QHD
  --
  Supported devices:
    * 480x800
*/
/*@media all and (min-device-width: 481px) and (max-device-width: 540px) and (orientation: portrait),
all and (min-device-width: 801px) and (max-device-width: 960px) and (orientation: landscape) {
	html { font-size: 94%!important; }
}*/

/*
  QHD => HD
  --
  Supported devices:
    * Geeksphone Peak: 540x960
*/
/*@media all and (min-device-width: 541px) and (max-device-width: 720px) and (orientation: portrait),
all and (min-device-width: 961px) and (max-device-width: 1280px) and (orientation: landscape) {
	html { font-size: 100%!important; }
}*/

/*
  Responsive design, for Desktop
*/
@media all and (min-width: 961px) {
	body[role="application"] section[role="region"][data-state="drawer"] {
		transform: none;
		-webkit-transform: none;
	}

	body[role="application"] > nav {
		width: 20%;
	}

	/* Main region */
	body[role="application"] > section[role="region"]#main,
	body[role="application"] > section[role="region"]#main [role="toolbar"] {
		width: 80%;
		margin-left: 20%;
	}
	body[role="application"] > section[role="region"]#main [role="toolbar"] {
		width: 100%;
		margin-left: 0;
	}
	body[role="application"] section[role="region"][data-state="sidepage"]#main,
	body[role="application"] section[role="region"][data-state="sidepage"]#main [role="toolbar"] {
		width: 40%;
	}
	body[role="application"] > section[role="region"][data-state="sidepage"]#main [role="toolbar"] {
		width: 100%;
	}

	/* Side region */
	body[role="application"] > section[role="region"]#side,
	body[role="application"] > section[role="region"]#side [role="toolbar"] {
		border-left: 1px solid black;
		width: 40%;
		left: 100%;
	}
	body[role="application"] > section[role="region"]#side [role="toolbar"] {
		width: 100%;
	}
	body[role="application"] section[role="region"][data-state="sidepage"]#side,
	body[role="application"] section[role="region"][data-state="sidepage"]#side [role="toolbar"] {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);	/* Chrome and Safari */
	}

	#button-menu {
	    width: 0px;
	}

	#page-title {
		padding-top: 22px;
		margin-left: 10px;
	}

	.msg-image {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 20% !important;
		display: block !important;
		width: 128px;
		height: 128px;
	}

	[role="toolbar"] .top {
		margin-left: 42.5%;
	}

	[role="toolbar"] .feedtop {
		margin-left: 42.5%;
	}
}

/*
  Responsive design, for Mobile
*/
@media all and (max-width: 960px) {
	body[role="application"] section[role="region"][data-state="drawer"] {
		transform: translateX(80%);
		-webkit-transform: translateX(80%);	/* Chrome and Safari */
	}

	body[role="application"] > nav {
		width: 80%;
	}

	/* Main region */
	body[role="application"] > section[role="region"]#main,
	body[role="application"] > section[role="region"]#main [role="toolbar"] {
		width: 100%;
		margin-left: 0;
	}

	/* Side region */
	body[role="application"] > section[role="region"]#side,
	body[role="application"] > section[role="region"]#side [role="toolbar"] {
		width: 100%;
		margin-left: 100%;
	}
	body[role="application"] section[role="region"][data-state="sidepage"],
	body[role="application"] section[role="region"][data-state="sidepage"] [role="toolbar"] {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);	/* Chrome and Safari */
	}

	#page-title {
		padding-top: 22px;
		padding-left: 10px;
	}

	.msg-image {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 45% !important;
		display: block !important;
		width: 128px;
		height: 128px;
	}

	[role="toolbar"] .top {
		margin-left: 37.5%;
	}

	[role="toolbar"] .feedtop {
		margin-left: 37.5%;
	}
}
