/* ----------------------------------
 * Status
 * ---------------------------------- */
section[role="status"] {
  background-color: #2d3436;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 4rem;
  color: #fff;
  text-align: left;
}

section[role="status"] p {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.2rem;
  margin: 1rem 3rem;
  padding: 0;
  text-align: left;
}

section[role="status"] p strong {
  font-weight: 500;
}
