/* ----------------------------------
* TOOLBARS
* ---------------------------------- */

[role="toolbar"] {
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0, 0.85);
}

[role="toolbar"] ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

[role="toolbar"] .end {
  float: right;
}

[role="toolbar"] li {
  float: left;
}

[role="toolbar"] button {
  width: 5.5rem;
  height: 4rem;
  border: none;
  font-size: 0;
  background: transparent no-repeat 50% 50%;
  padding: 0;
  border-radius: 0;
}

[role="toolbar"] a {
  width: 5.5rem;
  height: 4rem;
  border: none;
  font-size: 0;
  background: transparent no-repeat 50% 50%;
  padding: 0;
  border-radius: 0;
}

[role="toolbar"] button:active {
  background-color: #3498db;
}

/* Base icons */
[role="toolbar"] .update {
  background-image: url(../images/icons/update.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

[role="toolbar"] .settings {
  background-image: url(../images/icons/menu.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

[role="toolbar"] .mark {
  background-image: url(../images/icons/mark.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

[role="toolbar"] .mark[disabled="disabled"] {
  background-image: url(../images/icons/mark.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
  opacity: 0.2;
}

[role="toolbar"] .feedtop {
  background-image: url(../images/icons/up.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

[role="toolbar"] .feedtop[disabled="disabled"] {
  background-image: url(../images/icons/up.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
  opacity: 0.2;
}

[role="toolbar"] .share {
  background-image: url(../images/icons/share.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

[role="toolbar"] .delete {
  background-image: url(../images/icons/delete.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

[role="toolbar"] .add {
  background-image: url(../images/icons/add.png);
  width: 32px !important;
	height: 32px !important;
  margin-top: 5px;
  -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}
