@import url(gaia/font-awesome.css);
@import url(gaia/fonts.css);
@import url(gaia/headers.css);
@import url(gaia/toolbars.css);
@import url(gaia/buttons.css);
@import url(gaia/inputs.css);
@import url(gaia/drawer.css);
@import url(gaia/lists.css);
@import url(gaia/switches.css);
@import url(gaia/responsive.css);
@import url(gaia/status.css);

html, body {
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;

	font-size: 11px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;

	font-family: "Lato-Light";
}

a {
	color: #3498db;
	font-weight: bold;
	text-decoration: none;
	text-rendering: optimizeLegibility;
}

p {
	padding: 1rem;
}

div, p {
	font-size: 1.1rem;
	text-rendering: optimizeLegibility;
}

.list-item-large {
	font-size: 1.1rem;
	padding: 1rem;
	text-rendering: optimizeLegibility;
}

section[role="region"] {
	height: 100%;
	font-size: 2.2rem;
	text-rendering: optimizeLegibility;
	overflow: hidden;
}

div[role="main"] {
	height: 100%;
	height: -moz-calc(100% - 5rem);
	height: -webkit-calc(100% - 5rem);

	overflow-y: auto;
}
div[role="main"] > p {
	margin: 2rem 2.5rem;
}
div[role="main"] h2 {
	padding: 1rem 1.25rem 0 1.25rem;
	font-size: 1.6rem;
	text-rendering: optimizeLegibility;
}
div[role="main"] img {
	max-width: 100%;
}
div[role="main"] .list li .aside img {
	max-width: 9.6rem;
	max-height: 6rem;
}

h1, h2, h3 {
	margin: 0px;
}

#page-image {
	text-align: center;
}

#sidepage-title {
	padding-top: 20px;
	padding-left: 10px;
}

#sidepage p {
	font-size: 1.2rem !important;
	text-rendering: optimizeLegibility;
}

.article {
	margin: 5px 10px -15px -5px;
}

#article-body img {
	margin: 0 auto !important;
	text-align: center;
}

#server {
	text-decoration: none;
}

.align-right {
	float: right !important;
}

.align-left {
	float: left !important;
}

.align-center {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}

.logo {
	width: 24px;
	height: 24px;
	padding-top: 15px;
	padding-left: 25px;
}

.notes {
	margin-left: -10px !important;
	width: 95% !important;
}

.card {
	width: 325px;
	margin: 10px;
}

.card li {
	display: inline;
}

/* Add some padding inside the card container */
.container {
	margin: 0 auto !important;
}

.pad-neg-5 {
	margin-top: -5px;
}

.pad-neg-10 {
	margin-top: -10px;
}

.pad-neg-25 {
	margin-top: -25px;
}

.pad-neg-35 {
	margin-top: -35px;
}

.pad-neg-40 {
	margin-top: -40px;
}

.bump-left-15 {
	margin-left: -15px;
}

.bump-right-15 {
	margin-right: -15px;
}

.bump-left-25 {
	margin-left: -25px;
}

.nextcloud {
	padding-right: 5px;
	padding-left: 5px;
	width: 32px !important;
	height: 32px !important;
}

.edit-server {
	width: 12px !important;
	height: 12px !important;
}

.favicon {
	margin: 0 auto;
	padding-top: 20px;
	width: 16px !important;
	height: 16px !important;
}

.favicon-old {
	margin: 0 auto;
	padding-top: 20px;
	width: 16px !important;
	height: 16px !important;
	opacity: 0.3;
}

.favicon2 {
	margin: 0 auto;
	width: 10px !important;
	height: 10px !important;
}

.favicon3 {
	float: left;
	text-align: left;
	position: absolute;
	display: block;
	margin-top: 18px;
	width: 10px !important;
	height: 10px !important;
}

.feedflare {
	display: none !important;
}

.video-container {
	display: none !important;
}

.api-delete {
	width: 100% !important;
	margin-left: 0% !important;
	margin-top: -25px;
}

.indicator {
	color: #fff;
	text-align: center;
	padding-right: 10px;
}

.pad-5 {
	padding-left: 5px;
}

.top-5 {
	padding-top: 5px;
}

.pad-10 {
	padding-left: 10px;
}

.check-fix {
	margin-top: -14px;
}

/* FIX toolbar button bug on click */
[role="toolbar"] button:active {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* FIX: drawer li */
[role="application"] nav .inner ul li {
	border: 0;
}

/* ADD new icons */
section[role="region"] > header:first-child .icon.icon-delete {
	background-image: url(images/icons/delete.png);
	width: 32px !important;
	height: 32px !important;
	margin-top: 10px;
	-webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

[role="toolbar"] .previous {
	background-image: url(images/icons/previous.png);
	width: 32px !important;
	height: 32px !important;
	margin-top: 5px;
	-webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}
[role="toolbar"] .previous:disabled {
	background-image: url(images/icons/previous-disabled.png);
	width: 32px !important;
	height: 32px !important;
	margin-top: 5px;
	-webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}
[role="toolbar"] .next {
	background-image: url(images/icons/next.png);
	width: 32px !important;
	height: 32px !important;
	float: right !important;
	margin-top: 5px;
	-webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}
[role="toolbar"] .next:disabled {
	background-image: url(images/icons/next-disabled.png);
	width: 32px !important;
	height: 32px !important;
	float: right !important;
	margin-top: 5px;
	-webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}
[role="toolbar"] .top {
	background-image: url(images/icons/up.png);
	width: 32px !important;
	height: 32px !important;
	margin-top: 5px;
	-webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

/* ADD new list style */
body[role="application"] .list li[data-state="new"] .aside, body[role="application"] .list li[data-state="new"] a {
	color: #3498db !important;
}

body[role="application"] .list li[data-tag="C"]:after {
	background-color: #ff0000;
}
body[role="application"] .list li[data-tag="C"] a {
	color: #ff0000 !important;
}

/* FIX the lists */
body[role="application"] .list li {
	font-size: 1.1rem;
	text-rendering: optimizeLegibility;
}

body[role="application"] .list li .aside {
  width: 1rem;
  text-align: left;
}

/* Feed articles */
body[role="application"] .list2 li[data-state="new"] .aside, body[role="application"] .list2 li[data-state="new"] a {
	color: #3498db;
}

body[role="application"] .list2 li[data-state=""] .aside, body[role="application"] .list2 li[data-state=""] a {
	color: #dfe4ea;
	font-style: italic;
	opacity: 0.8;
	text-rendering: optimizeLegibility;
}

body[role="application"] .list2 li[data-tag="C"]:after {
	background-color: #2d3436;
}
body[role="application"] .list2 li[data-tag="C"] a {
	color: #2f3542;
}

/* FIX the lists */
body[role="application"] .list2 li {
	font-size: 1.3rem;
	padding: 3px 0px 0px 5px;
	text-rendering: optimizeLegibility;
}

body[role="application"] .list2 li .aside {
  width: 1.5rem;
  text-align: center;
}

body[role="application"] .list2 li[data-state="new"] .time {
	font-style: italic !important;
	font-size: 0.85rem !important;
	color: #3498db !important;
	font-style: oblique;
	text-rendering: optimizeLegibility;
}

body[role="application"] .list2 li[data-state=""] .time {
	font-style: italic !important;
	font-size: 0.85rem !important;
	color: #dfe4ea !important;
	font-style: italic;
	opacity: 0.8;
	text-rendering: optimizeLegibility;
}

/* Do not display the toolbar buttons on load */
[role=toolbar] button {
	display: none;
}

/* The refreshing state of the update button */
[role="toolbar"] .update[data-state="refreshing"] {
  animation: 0.9s rotate infinite linear;
  -webkit-animation: 0.9s rotate infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
  }

  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(1deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

body[role="application"] > section[role="region"] {
	top: 0px;
	position: absolute;
}
body[role="application"] > section[role="region"] [role="toolbar"] {
	position: absolute;
}

#audio-player ul {
	text-align: center;
	margin-left: -45px;
	margin-top: -25px;
}

#audio-player a {
	text-decoration: none;
}

#audio-player li {
	display: inline;
}

#audio {
	width: 80%;
	color: #3498db !important;
}

#audio-download {
	width: 32px;
	padding-left: 35px;
}

#audio-play {
	background: none;
	color: #3498db !important;
	border: 0;
	font-size: 12px;
	width: 15px;
	margin: 0;
	position: relative;
	padding-top: 5px;
	top: 50%;
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
}

#audio-pause {
	background: none;
	color: #3498db;
	border: 0;
	font-size: 12px;
	width: 15px;
	margin: 0;
	position: relative;
	padding-top: 5px;
	top: 50%;
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
}

#audio-currenttime {
	background: none;
	color: #3498db !important;
	border: 0;
	font-size: 12px;
	width: 90px;
	margin: 0;
	position: relative;
	padding-top: 5px;
	top: 50%;
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
	text-rendering: optimizeLegibility;
}

#audio-duration {
	background: none;
	color: #3498db;
	border: 0;
	font-size: 12px;
	width: 90px;
	margin: 0;
	position: relative;
	padding-top: 5px;
	top: 50%;
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
	text-rendering: optimizeLegibility;
}

progress {
	background: none;
	color: #3498db;
  height: 15px;
  width: calc(100% - 241px);
	-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
	top: 50%;
	-ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

progress[value]::-webkit-progress-bar  {
	background-color: #3498db !important;
	color: #3498db;
}

#addfeed-url {
  width: 100%;
  height: 3.8rem;
	background-color: inherit;
  outline: none;
	color: inherit;
}


#audio-speed {
    background: none;
    color: #3498db;
    border: 0;
		font-size: 12px;
    width: 60px;
		margin: 0;
	  position: relative;
		padding-top: 5px;
	  top: 50%;
	  -ms-transform: translateY(-45%);
	  transform: translateY(-45%);
		text-rendering: optimizeLegibility;
}

#audio-get {
    background: none;
    color: #3498db;
    border: 0;
		font-size: 12px;
    width: 15px;
		margin: 0;
	  position: relative;
		padding-top: 5px;
	  top: 50%;
	  -ms-transform: translateY(-45%);
	  transform: translateY(-45%);
}

#online-status {
	padding-left: 10px;
  position: fixed;
	font-size: 1.1rem;
  font-style: italic;
	font-weight: bolder;
	text-decoration: underline;
  color: #3498db;
}

#redshift {
  position: fixed; /* Sit on top of the page content */
	visibility: hidden;
  width: 100%; /* Full width (cover the whole page) */
  height: inherit; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fd5e53;
	opacity: 0.1;
	filter: brightness(50%);
	z-index: 999;
  pointer-events: none;
}

#feed-credentials {
	display: none;
}
